# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies (拿掉開頭的 /，確保 frontend 裡的也被忽略)
node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage

# next.js (拿掉開頭的 /)
.next/
out/

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (這很重要，保護你的密碼不被上傳)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts